* {
	box-sizing: border-box;
}

body {
	text-align: center;
	background-color: cornsilk;
}

li {
	margin: 10px;
	list-style-type: none;
}

.container {
	display: flex;
}

.notdevoured {
	flex: 1;
	margin-top: 10px;
}

.devoured {
	flex: 1;
	margin-top: 10px;
}

.burgerphoto {
	max-width: 450px;
	max-height: 450px;
	margin-bottom: 10px;
}
